@font-face {
  font-family: 'Bebas Neue';
  src: url('assets/fonts/BebasNeue/BebasNeue-Regular.otf'), /* IE9 Compat Modes */
				url('assets/fonts/BebasNeue/BebasNeue-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icons/icomoon.eot?it6zlh');
  src:  url('assets/fonts/icons/icomoon.eot?it6zlh#iefix') format('embedded-opentype'),
    url('assets/fonts/icons/icomoon.ttf?it6zlh') format('truetype'),
    url('assets/fonts/icons/icomoon.woff?it6zlh') format('woff'),
    url('assets/fonts/icons/icomoon.svg?it6zlh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e93a";
}
.icon-map:before {
  content: "\e94c";
}
.icon-search:before {
  content: "\e986";
}