// VARIABLES

$baseValue: '4px';
$baseValue1: '8px';
$baseValue2: '12px';
$baseValue3: '16px';
$baseValue4: '20px';
$baseValue5: '24px';
$baseValue6: '28px';
$baseValue7: '32px';
$baseValue8: '36px';
$baseValue9: '40px';

$fontPrimary: 'Bebas Neue';

$backgroundBody: #f5f5f5;
$primaryColor: #e6bf06;