ul.nav{
	font:200 1.2em/1.4em $fontPrimary;
	li{
		background-color: transparent;
		transition: background-color .3s ease-in-out;
		&:hover{
			background: $primaryColor;
		}
	}
	a{
		color: black;
	}
	&.logo{
		background-color: #000;
		li{ 
			a{
				color: white;
				text-align: center;
				strong{
					line-height: .9em;
					&::after{
						content: "\A";
						white-space: pre;
					}
					@include various-font-size-children();
				}
			}
			&:hover{
				background: inherit;
			}
		}
	}
}