@import 'node_modules/bootstrap/scss/bootstrap';
@import 'utils/variables';
@import 'utils/fonts';
@import 'utils/mixins';

html,
body{
	margin: 0;
	padding: 0;
	background: $backgroundBody;
}


// IMPORT DIFFERENT STYLES FROM OTHER COMPONENTS

@import 'nav/main';
@import 'slider/main';
@import 'articles/main';