section.slider{
	position: relative;
	height: 800px;
	&:before{
		content: "BOTWC";
		display: block;
		position: absolute;
		width: 100%;
		text-align:center;
		opacity: .1;
		color:gray;
		font: 900 30em/1.2em $fontPrimary;
	}
}